node_modules
.git
.github
.gitignore
*.md
docker-compose*
.env*
nginx/
scripts/
certbot/
**/.DS_Store
# Don't ignore dist directories because we need to copy them during deployment
# **/dist
# **/build
**/.cache
**/.turbo
.vscode
coverage 